// x = 3, y=4
body {
    --fancy-x:0;
    --fancy-y:0;
}
.mem {
    position:absolute;
    top:10em;
}
.var-x{
    width:(var(--fancy-x));
}
.var-y{
    width:(var(--fancy-y));
}
.datum {
    background-color:lightblue;
}

[class^='inst'] {
  position:absolute;
  top:0em;
  left:0em;
  padding:0.1em;
  background-color:white;

}
input {
    -webkit-transform:scale(5);
}
//read from input
.inst0:checked ~ .mem-ctx  .mem-inst0  {
    --fancy-y-tmp:50px;
}

.inst1:checked ~ .mem-ctx  .mem-inst1 {
    --fancy-y:calc(var(--fancy-y-tmp) + 100px);
}
.inst2:checked ~ .mem-ctx  .mem-inst2 {
    --fancy-y-tmp:var(--fancy-y);
}
.inst3:checked ~ .mem-ctx  .mem-inst3 {
    --fancy-y:calc(var(--fancy-y-tmp) + 100px);
}
//hide checked boxes
//replayable code can have the visibility overridden by an override code.
@for $i from 0 through 6 {
    //.override#{$i}:not(:visible) ~ .inst#{$i}:checked {
    .inst#{$i}:checked {
        display:none;
    }
    .inst#{$i} {
        z-index:-$i;
    }

}





